@import '../../../../../../variables';

.closable-info-bar {
  transition: 1s;
  left: 0;

  .close-button {
    margin: 10px 15px 10px;
    position: fixed;
    right: 0;
    z-index: 3;
    cursor: pointer;
    font-size: 25px;
    color: $info-bar-text-color;
  }
}