@import '../../../../../../variables';

.job-description {
  text-align: left;
  color: #000;

  .header {
    text-align: center;

    .title {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 3px;
    }

    .sub-title {
      font-size: 14px;
      color: #222;
      font-weight: bold;
      padding-bottom: 3px;
    }

    .employer {
      padding-bottom: 8px;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    .header {
      display: flex;
      flex-wrap: wrap;

      .title {
        width: 50%;
        text-align: left;
      }

      .sub-title {
        width: 50%;
      }

      .employer {
        text-align: left;
      }

      .date-range {
        text-align: right;
      }
    }
  }
}
