@import '../../../../variables';

.info-bar {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #2c2d3c;

  img {
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
    border: 1px #fefefe solid;
    border-radius: 50%;
  }

  .section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 5px;
      border: none;
      background-color: transparent;
      font-size: 16px;
      outline: none;
      color: $info-bar-text-color;
  
      &:hover {
        cursor: pointer;
      }
    }
  }

  &.medium-and-larger {
    display: none;
  }

  @media screen and (min-width: $large-breakpoint) {
    display: none;

    &.medium-and-larger {
      width: $info-bar-width-lg-screen;
      display: flex;
    }
  }
}