@import '../../../../variables';

.our-picture {
  width: 100%;
  height: 100vh;
  background: url("../../../../images/kate-and-i.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.intro-image {
  position: relative;

  .text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: bold;
    color: white;
    
    @media screen and (min-width: $medium-breakpoint) {
      font-size: 48px;
    }
  }
}