.project {
    .section {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    :last-child {
      margin-bottom: 0;
    }
    
    .title {
      font-size: 22px;
      border-bottom: 2px solid #aaa;
      padding-bottom: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    .sub-title {
        margin: 5px 0;
        padding-bottom: 5px;
        font-weight: bold;
        border-bottom: 1px solid #aaa;
        font-size: 18px;
    }

    .takeaways {
      padding-left: 20px;

      li {
        padding-bottom: 10px;
      }
    }
    
    .description {
      div {
        padding-bottom: 15px;
      }
      
      :last-child {
        padding-bottom: 0;
      }
    }

    .source-code {
      .sub-title {
          margin-bottom: 10px;
      }

      a {
          color: #2c98f0;
      }
    }
  }