.slanted-div {
    .top {
        height: 25px;
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
        margin-bottom: -1px;
    }

    .middle {
        padding: 20px;
    }

    .bottom {
        height: 25px;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        margin-top: -1px;
    } 
}