@import '../../../../variables.scss';

.degree {
  text-align: center;
  color: #000;

  .header {
    font-weight: bold;
    .details {
      padding-bottom: 3px;

      .title {
        font-size: 18px;
      }

      .sub-title {
        color: #222;
      }

      .school {
        padding-top: 5px;
      }
    }

    .date-range {
      color: #222;
      padding-bottom: 8px;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    .header {
      display: flex;
      flex-wrap: wrap;

      .details {
        width: 50%;
        text-align: left;
      }

      .date-range {
        width: 50%;
        text-align: right;
      }
    }

    .achievements {
      text-align: left;
    }
  }
}
