@import '../../../../../../../../variables';

$timeline-border-width: 4px;

.timeline-bar {
  display: flex;
  width: $timeline-circle-width + 8;
  align-items: stretch;

  .circle-container {
    display: flex;
    .circle {
      align-self: center;
      color: #999;
      border: 4px solid;
      margin-left: - ($timeline-circle-width/2 + $timeline-border-width /2 + 3);
    }
  }

  .bar {
    margin-left: ($timeline-circle-width/2 + 1);
    border-right: $timeline-border-width solid;
    color: #999;
  }
}