@import '../../../../../../variables.scss';

.technologies {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      display: flex;
      font-size: 16px;
     
      a {
        width: 100%;
        padding: 5px 0;
        text-decoration: none;
        color: #000;
        border-bottom: 1px solid #dedede;
        
        &:hover {
          color: #2c98f0;
        }
      }
      
      &:last-child {
        a {
          border: none;
        }
      }
    }
    
    @media screen and (min-width: $medium-breakpoint) {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
            li {
                width: 50%;
                
                a {
                margin-right: 10px;
                }
                
                &:nth-last-child(2):nth-child(odd) {
                a {
                    border: none;
                }
                }
            }
        }
    }
  }