.slanted-section {
    .regular-div {
      padding: 20px;
    }

    .header {
      padding-bottom: 5px;
      border-bottom: 2px solid #222;
      font-size: 24px;
      font-weight: bold;
      color: #222;
    }
    
    :first-child {
      .top {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      
      .middle {
        padding-top: 5px;
      }
    }
    
    :last-child {
      .bottom {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }