@import '../../variables';

.content {
  .section {
    padding: 10px 15px 20px;
    background-color: #f8f8f8;
    text-align: center;

    h2 {
      border-bottom: 1px #aaa solid;
      padding-bottom: 7px;
      margin-bottom: 25px;
    }

    @media screen and (min-width: $small-breakpoint) {
      padding: 10px 25px 20px;
    }

    @media screen and (min-width: $medium-breakpoint) {
      text-align: left;
    }
  }
}