@import '../../../../variables';

.volunteer {
  text-align: left;
  color: #000;

  .header {
    text-align: center;
    padding-bottom: 5px;

    .title {
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 3px;
    }

    .sub-title {
      font-size: 16px;
      color: #222;
      font-weight: bold;
      padding-bottom: 3px;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    .header {
      display: flex;
      flex-wrap: wrap;

      .title {
        width: 50%;
        text-align: left;
      }

      .sub-title {
        width: 50%;
        text-align: right;
      }
    }
  }
}