@import '../../../../variables';

.project-cards {
  @media screen and (min-width: $medium-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }

  a {
    text-decoration: none;
  }
}