.progress-bar {
  .text {
    font-size: 14px;
    font-weight: bold;
  }

  .display {
    position: relative;
    height: 8px;
    border-radius: 50px;
    background-color: #e9e9e9;

    .filler {
      height: 100%;
      border-radius: inherit;
    }
  }
}