.project-card {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 3px solid;
  box-shadow: 5px 10px 5px #ccc;
  background-color: #fff;
  cursor: pointer;

  .icon {
    font-size: 22px;
    padding-bottom: 10px;
  }

  .card-title {
    padding-bottom: 8px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }
}