@import '../../../../variables.scss';

.contact {
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;

    @media screen and (min-width: $medium-breakpoint) {
        text-align: left;
    }
}